@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/bg-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #674BB1;
    padding: 50px; 
    border: 2px solid transparent;
}

.header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
}

.tittle-sectorLogo{
    display: flex;
    padding: 5px;
    width: 100%;
    margin: 5px;
}


.logoSector {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 20px;
    color: white;
    display: flex;
    margin-left: 55px;
}


.image-title{
   height: 100%;
   width:100%;
}


.container {
    display: flex;
    width: 100%;
    min-height: 70vh;
    padding: 25px;
    margin: 5px;
}

.bg-desktop-section {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 15px;
    margin: 20px;
}

.bg-desktop-section .bg-desktop-image {
    height: 100%;
    width: 100%;
    background-image: url("../images/illustration-mockups.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.text-section {
    width: 40%;
    display: inline-table;
    flex-direction: column;
    padding: 25px;
    margin: 10px;
}

.text-section h1 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items:center;
    margin-top: 30px;
    height: 50%;
    width: 100%;
    font-weight: 600;
    font-size: 6vh;
    color: white;
}

img {
    height: 50px;
    width: 50px;
}

.text-section .text-sector {
    color: white;
    margin-top: 10px;
    font-size: 25px;
    width: 100%;
}

.text-section .button {
    display: inline-block;
    padding: 15px 20px;
    text-align: center;
    margin-top: 20px;
    color: rgb(72, 1, 72);
    background-color: white;
    font-size: 1.8vh;
    width: 20vh;
    height: 5.5vh;
    border-radius: 30px;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.514); 
}

.text-section .button:hover {
    background-color: #E980E7;
    color: white;
}

.social-container {
    height: 10vh;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: flex-end; /* Alinear a la derecha */
}

.social{
    margin-top: 2px;
    margin-right: 200px;
    height: 50%;
    width: 10%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.social-link {
    display: inline-block;  
}

.icon {
    display: flex;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.icon:hover {
    color: #E980E7;
}


/*------------ Mobile-Section ---------------*/

@media (max-width:768px) {

    body {
        display: block;
        align-items: center;
        align-content: center;
        font-family: 'Open Sans', sans-serif;
        background-image: url("../images/bg-mobile.svg");
        background-size: auto;
        background-repeat: no-repeat;
        background-color: #674BB1;
        padding: 1px;
        height: 100%;
        border: 2px solid transparent;
    }

    .tittle-sectorLogo {
        height: 100%;
        width: 100%;
        padding: 10px;
        margin: 0px;
        height: 100%;
        border: 2px solid transparent;
    }

    .logoSector{
        padding: 15px;
        color: white;
        display: flex;
        align-items: center;
        width: 45%;
        height: 100%;
        margin-top: 5px;
        border: 2px solid transparent;
        margin-left: 10px;
    }

    .image-title{
        height: 100%;
        width: 100%;
    }

    .container {
        display: grid;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0px;
        border: 2px solid transparent;
    }

    /*---SECCION DE DESKTOP --*/

    .bg-desktop-section {
        display: flex;
        align-items: center;
        width: 100%;
        height: 35vh;
        margin: 0px;
        border: 2px solid transparent;
    }


    /*---SECCION DE TEXTO --*/

    .text-section {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
        margin: 0px;
        border: 2px solid transparent;
    }
    
    .text-section h1 {
        font-family: 'Poppins', sans-serif;
        display: flex;
        text-align: center;
        margin-top: 15px;
        height: 20%;
        width: 90%;
        font-size: 3vh;
        color: white;
        padding: 10px;
        border: 2px solid transparent;
    }
    
    .text-section .text-sector {
        color: white;
        margin-top: 10px;
        padding: 5px;
        font-size: 2vh;
        width: 89%;
        height: 100%;
        text-align: center;
    }

    .text-section .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        margin-top: 0px;
        color: rgb(72, 1, 72);
        background-color: white;
        font-size: 1.8vh;
        width: 26vh;
        height: 5.5vh;
        border-radius: 30px;
        transition: background-color 0.3s, box-shadow 0.3s;
        cursor: pointer;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.225); 
    }
    
    /*-----REDES SOCIALES-------*/
    .social-container {
        display:flex;
        align-items: center;
        align-content: center;
        height: 10vh;
        width: 100%;
        border: 2px solid transparent;
    }
    
    .social{
        display: flex;
        align-items: center;
        align-content: center;
        height: 50%;
        width: 40%;
        margin-right: 105px;
        border: 2px solid transparent;
    }
    
    .icon
    {
        width: 25px;
        height: 25px;
        border: 2px solid transparent;
    }
}